* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --verde: #086838;
    --blanco_principal: #ffffff;
    --blanco_secundario: #ccc;
    --sombra: #1a1919;
    --sombra_tarjeta: #ffff02;
    --negro_principal: #000000;
    --negro_secundario: #020202;

}

.seccion_caja_dos {
    display: -ms-grid;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
        /* "seccion_dos_parrafo seccion_dos_parrafo seccion_dos_logo"
        "seccion_dos_parrafo seccion_dos_parrafo seccion_dos_logo"; */
        "seccion_dos_parrafo seccion_dos_parrafo seccion_dos_parrafo"
        "seccion_dos_parrafo seccion_dos_parrafo seccion_dos_parrafo";

    padding: calc(4vw);
    height: 50vh;
    align-items: center;
}

.seccion_dos_logo {
    position: relative;
    display: inline-block;
    margin: 20px;
    margin-left: 4vw;
    max-width: 300px;
    width: 90%;
    color: var(--blanco_principal);
    font-size: 16px;
    box-shadow: none !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    grid-area: seccion_dos_logo;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
}


.seccion_dos_img {
    border-radius: 5%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.seccion_dos_titulo {
    color: var(--verde);
    font-family: 'Orbitron', sans-serif;
    font-size: 3vw;
    font-weight: bolder;
    line-height: 8vh;
    margin-bottom: 5vh;
    border-bottom: solid var(--verde);
}

.seccion_dos_parrafo {
  display: grid;
  justify-self: center;
  align-self: center;
  font-family: 'Raleway', Orbitron, sans-serif;
  font-size: 1.7vw;
  font-weight: 400;
  grid-area: seccion_dos_parrafo;
  z-index: 50;
}

/* Responsive  Styles --------------------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {

    .seccion_caja_dos {
        height: 18vh;
    }

    .seccion_dos_titulo {
        margin-bottom: 2vh;
    }

    .seccion_dos_img {
        width: 200px;
        height: 200px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    }

}

@media (max-width: 575.98px) {

    .seccion_caja_dos {
        display: flex;
        flex-direction: column;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: calc(4vw);
        height: 30vh;
    }

    .seccion_dos_titulo {
        font-size: 4vw;
        line-height: 4vh;
        margin-bottom: 1vh;
        text-align: center;
    }

    .seccion_dos_logo {
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0;
        margin-left: 0;
        max-width: 200px;
    }

    .seccion_dos_img {
        width: 100px;
        height: 100px;
    }

    .seccion_dos_parrafo {
        font-weight: 400;
    }

    .seccion_dos_parrafo_texto {
        background-color: rgba(126, 124, 124, 0.6);
        font-size: 3vw;
        padding: 2%;
    }

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .seccion_caja_dos {
        height: 60vh;
    }


    .seccion_dos_titulo {
        font-size: 2.5vw;
        margin-bottom: 3vh;
        
    }

    .seccion_dos_img {
        width: 180px;
        height: 180px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
    }

    .seccion_dos_parrafo_texto {
        background-color: rgba(255, 255, 255, 0.6);
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
        font-size: 1.8vw;
        padding: 1%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .seccion_caja_dos {
        height: 25vh;
    }

    .seccion_dos_titulo {
        margin-bottom: 1vh;
    }

    .seccion_dos_img {
        width: 210px;
        height: 210px;
    }

    .seccion_dos_parrafo_texto {
        background-color: rgba(255, 255, 255, 0.6);
        font-size: 1.8vw;
        padding: 1%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .seccion_caja_dos {
        height: 47vh;
    }

    .seccion_dos_titulo {
        font-size: 2.5vw;
    }
    

}